@import './global-styles.scss';

.title-time{
    font-family: 'Russo One', sans-serif;
    font-size: 1.8rem;
    color: $primaryColor;
    @include flexDirection(column);
}

.date-input{
    border-radius: 35px;
    border-color: $primaryColor;
    border-style: solid;
    padding: .5rem;
}

.select-action{
    width: 370px;
    font-size: 1.8rem;
}

.button-time{
    @include buttons ($buttonColors, 360px , 50px)
}