//Colors
$primaryColor: #3662C1;
$secondaryColor : #769ce7;
$transitionColor : #F1F6FF;
$buttonColors : #FA7269;


//Media query
$break-small: 426px;
$break-large: 1200px;

@mixin flexAll {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-all {
    @include flexAll();
}

@mixin flexDirection ($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: ($direction);
    text-align: center;
}

.flex-column{
@include flexDirection(column);
}

@media only screen and (max-width: $break-small) {

  }

  @media only screen and (min-width: $break-large) {
  }

  