@import './global-styles.scss';

.container-home{
    margin-top: 5rem;
}

.parraf-home{
    color: $secondaryColor
}

.button-home{
    @include buttons ($buttonColors, 300px , 50px)
}

.text-container{
    display: flex;
    flex-direction: column;
    //justify-content: center;
    padding-left: 30px;
}

@media only screen and (max-width: $break-small) {
    .container-home{
        margin-top: 1rem;
    }

    .title-home{
        font-size: 1.5rem;
    }
    .parraf-home{
        font-size: 1rem;
    }

    .button-home{
        width: 150px;
        height: 40px;
        font-size: 1rem;
    }

    .text-container{
        text-align: center;
        align-items: center;
        padding-left: 15px;
    }
}