@import "./global-styles.scss";

.login-container {
  background: linear-gradient(
    269.9deg,
    #f1f6ff 27.63%,
    rgba(241, 246, 255, 0.21) 99.9%
  );
  //box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  box-shadow: 20px 20px 60px #c9ced9, -20px -20px 60px #ffffff;
  width: 650px;
  //height: 300px;
  @include flexDirection(column)
}

.label-input{
    font-size: 1.4rem;
    @include flexDirection(column);
}

.form-input{
    background: #FFFEFE;
    box-shadow: inset -4px -4px 5px rgba(0, 0, 0, 0.05), inset 4px 4px 5px rgba(0, 0, 0, 0.05);
    border-radius: 35px;
    border-color: white;
    border-style: solid;
    width: 400px;
    height: 50px;
}

.p-password{
  font-size: 1rem;
}

.button-register{
    // background-color: $secondaryColor;
    // width: 200px;
    // height: 50px;
    // color: white;
    // font-size: 1.4rem;
    @include buttons ($secondaryColor, 200px , 50px)
}
